{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
<div class="page-header">
        <h1>Add Profile</h1>

        {% if registered %}
        Rango says: <strong>thank you for improving personal profile!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>Add profile here!</strong><br />

        <form id="userprofile_form" method="post" action="{% url 'add_profile' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
</div>
{% endblock %}
